<a href="https://colab.research.google.com/github/adolfoguimaraes/iachallenge_notebook/blob/master/notebooks/p03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports necessários (insira neste espaço os imports necessários)

import pandas as pd

# Problema 3 - Desafio Titanic

## Treinamento

Esse é o clássico problema do Titanic estudado até aqui. Seu objetivo é treinar um modelo que permita identificar se um passageiro morreu ou sobreviveu ao acidente do Titanic. 

Depois do modelo treinado deve-se aplicar a base de testes. Para que o problema seja avaliado de forma correta pelo sistema, não se pode remover nenhuma instância da base de testes. O modelo deve ser aplicado para todos os passageiros.

Segue informações para baixar a base de dados.

In [0]:
# Download da base 

titanic_dataset_train = pd.read_csv("https://www.data2learning.com/repo/iachallenge/train_titanic.csv")
titanic_dataset_test = pd.read_csv("https://www.data2learning.com/repo/iachallenge/test_titanic.csv")

In [4]:
titanic_dataset_train.head()

   PassengerId  Survived  Pclass  ...      Fare Cabin  Embarked
0          600         1       1  ...   56.9292   A20         C
1          831         1       3  ...   14.4542   NaN         C
2          307         1       1  ...  110.8833   NaN         C
3          232         0       3  ...    7.7750   NaN         S
4          846         0       3  ...    7.5500   NaN         S

[5 rows x 12 columns]

A descrição da base pode ser encontrada neste link: https://www.kaggle.com/c/titanic/data

In [0]:
X = titanic_dataset_train[['Pclass','Name','Sex','Age','SibSp','Parch','Ticket','Fare','Cabin','Embarked']]
y = titanic_dataset_train[['Survived']]

In [0]:
# Insira seu código a partir deste espaço

## Teste

Após treinar, deve-se fazer a predição da base de testes utilizando o modelo. Com a lista resultante da aplicação dos modelos de predição, utilize a função a seguir para gerar o arquivo de submissão. 

O arquivo de submissão é formado por duas colunas. Na primeira tem o id dos passageiros e a segunda o label de classificação. No documento gerado, a primeira coluna é nomeada de **id** e a segunda de **class**. É fundamental que o arquivo tenha exatamente esse formato. 

Para baixar o arquivo gerado, acesse a o menu lateral na guia files.

In [0]:
# Base de Teste

titanic_dataset_test.head()

   Pclass  ... PassengerId
0       3  ...        9000
1       2  ...        9001
2       3  ...        9002
3       2  ...        9003
4       3  ...        9004

[5 rows x 11 columns]

In [0]:
X_test = titanic_dataset_test[['Pclass','Name','Sex','Age','SibSp','Parch','Ticket','Fare','Cabin','Embarked']]

In [0]:
# Insira seu código a partir deste espaço

## Gerar aquivo de submissão

In [0]:
# O X_ids é só para gerar o csv final.
X_ids = titanic_dataset_test.PassengerId
X_ids = list(X_ids)

In [0]:
# Gera o CSV no formado de submissão

# id_values: lista de ids da base de dados
# predict_result: lista resultante da aplicação do predict do modelo escolhido
# filename: nome do arquivo

def generate_csv(id_values, predict_result, filename):
    count = 0
    values = []
    for id_value in id_values:
        values.append((id_value, int(predict_result[count])))
        count += 1

    df = pd.DataFrame(values, columns=['id','class']) 
    df.to_csv(filename + ".csv", sep=',', columns=['id','class'], index=False)

In [0]:
# Gera o csv no formato de submissão do sistema
generate_csv(X_ids, predict_values, "p3_teste")

In [0]:
# Baixa o arquivo do colab

from google.colab import files

files.download("p3_teste.csv")