<a href="https://colab.research.google.com/github/adolfoguimaraes/iachallenge_notebook/blob/master/notebooks/p04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problema 4 - Venda de Casas

O objetivo deste problema é criar um modelo que seja capaz de prever por quanto uma casa seria vendida dada uma série de informações sobre a região. 

A base possui os seguintes atributos: 

* crim: per capita crime rate by town.
* zn: proportion of residential land zoned for lots over 25,000 sq.ft.
* indus: proportion of non-retail business acres per town.
* chas: Charles River dummy variable (= 1 if tract bounds river; 0 otherwise).
* nox: nitrogen oxides concentration (parts per 10 million).
* rm: average number of rooms per dwelling.
* age: proportion of owner-occupied units built prior to 1940.
* dis: weighted mean of distances to five Boston employment centres.
* rad: index of accessibility to radial highways.
* tax: full-value property-tax rate per \$10,000.
* ptratio: pupil-teacher ratio by town.
* black: 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town.
* lstat: lower status of the population (percent).
* target: median value of owner-occupied homes in \$1000s.

O objetivo é prever o atributo **target**.

In [0]:
import pandas as pd

In [0]:
# Download da Base  (Treino e Teste)

house_dataset_train = pd.read_csv("https://www.data2learning.com/repo/iachallenge/train_house.csv")
house_dataset_test = pd.read_csv("https://www.data2learning.com/repo/iachallenge/test_house.csv")

In [5]:
# Exemplo da base de treinamento

house_dataset_train.head()

       CRIM    ZN  INDUS  CHAS     NOX  ...    TAX  PTRATIO       B  LSTAT  TARGET
0   0.13960   0.0   8.56   0.0  0.5200  ...  384.0     20.9  392.69  12.33    20.1
1   0.03510  95.0   2.68   0.0  0.4161  ...  224.0     14.7  392.78   3.81    48.5
2  15.87440   0.0  18.10   0.0  0.6710  ...  666.0     20.2  396.90  21.08    10.9
3   0.18337   0.0  27.74   0.0  0.6090  ...  711.0     20.1  344.05  23.97     7.0
4   0.12816  12.5   6.07   0.0  0.4090  ...  345.0     18.9  396.90   8.79    20.9

[5 rows x 14 columns]

In [0]:
# Insira seu código a partir deste espaço

## Base de testes

Após treinar, deve-se fazer a predição da base de testes utilizando o modelo treinado.

In [6]:
# Exemplo da base de teste

house_dataset_test.head()

   INDEX     CRIM    ZN  INDUS  CHAS  ...   RAD    TAX  PTRATIO       B  LSTAT
0      0  0.09178   0.0   4.05   0.0  ...   5.0  296.0     16.6  395.50   9.04
1      1  0.05644  40.0   6.41   1.0  ...   4.0  254.0     17.6  396.90   3.53
2      2  0.10574   0.0  27.74   0.0  ...   4.0  711.0     20.1  390.11  18.07
3      3  0.09164   0.0  10.81   0.0  ...   4.0  305.0     19.2  390.91   5.52
4      4  5.09017   0.0  18.10   0.0  ...  24.0  666.0     20.2  385.09  17.27

[5 rows x 14 columns]

In [0]:
# Inclua neste espaço seu código para fazer a predição. Salve a predição na variável predict_values

## Geração do arquivo de submissão

Com a lista resultante da aplicação dos modelos de predição, utilize a função a seguir para gerar o arquivo de submissão. 

O arquivo de submissão é formado por duas colunas. Na primeira tem o a coluna index da base de testes e a segunda o valor encontrado pelo modelo. No documento gerado, a primeira coluna é nomeada de **id** e a segunda de **target**. É fundamental que o arquivo tenha exatamente esse formato. 

O código no final do notebook faz o download do arquivo gerado.

In [0]:
# Lista de Ids para gerar o arquivo final
X_ids = house_dataset_test[['INDEX']]
X_ids = list(X_ids['INDEX'])

In [0]:
# Gera o CSV no formado de submissão

# id_values: lista de ids da base de dados
# predict_result: lista resultante da aplicação do predict do modelo escolhido
# filename: nome do arquivo

def generate_csv(id_values, predict_result, filename):
    count = 0
    values = []
    for id_value in id_values:
        values.append((id_value, int(predict_result[count])))
        count += 1

    df = pd.DataFrame(values, columns=['id','target']) 
    df.to_csv(filename + ".csv", sep=',', columns=['id','target'], index=False)

In [0]:
# Gera o csv no formato de submissão do sistema
generate_csv(X_ids, predict_values, "p4_teste")

In [0]:
# Baixa o arquivo do colab

from google.colab import files

files.download("p4_teste.csv")