<a href="https://colab.research.google.com/github/adolfoguimaraes/iachallenge_notebook/blob/master/notebooks/p06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports 

import pandas as pd

# Problema 6 - Classificação de Notícias

A proposta deste desafio é construir um modelo de classificação de documentos da Folha de São Paulo. Será utilizada uma parte da base utilizada no [desafio correspondente do Kaggle](https://www.kaggle.com/marlesson/news-of-the-site-folhauol).

Foram selecionados 60000 textos (10000 por categoria). O modelo será testado em uma base de teste que possui 6000 textos (1000 de cada categoria). O desafio trabalha com 6 categorias: (0) Esporte, (1) Poder, (2) Mundo, (3) Mercado, (4) Contidiano e (5) Colunas. Essas categorias foram escolhidas por serem as que possuem maior número de documentos na base original.

## Carregando a base de treinamento

In [0]:
dataset_train = pd.read_csv("https://www.data2learning.com/repo/iachallenge/train_dataset_p6.csv")

In [0]:
# Ajuste da base - é necessário deletar esta linha

dataset_train = dataset_train.drop(9677)

In [0]:
dataset_train.head()

                                                text  label
0  No dia em que deixou a Síria com instruções pa...      2
1  Havia um vazio em Brasília e ele foi ocupado p...      5
2  Espaços vazios de terminais do metrô e de ônib...      4
3  A primeira imagem mostra uma multidão de milha...      2
4  A seletiva francesa para o Mundial de Kazan te...      0

In [0]:
dataset_train.shape

(59999, 2)

In [0]:
X = list(dataset_train.text)
y = list(dataset_train.label)

In [0]:
# Coloque seu código a partir deste espaço

## Base de Teste

In [0]:
dataset_test = pd.read_csv("https://www.data2learning.com/repo/iachallenge/test_dataset_p6.csv")

In [0]:
dataset_test.head()

   id                                               text
0   0  GABRIEL MASCARENHAS DE BRASÍLIA  A Polícia Fed...
1   1  Aos 38 anos, o argentino Mario Bravo conheceu ...
2   2  Atual campeão da NBA, o Golden State Warriors ...
3   3  Um homem de 23 anos foi detido na madrugada de...
4   4  A pediatra de Porto Alegre (RS) que se recusou...

In [0]:
# Carrega somente os textos da base de testes
X_test = dataset_test['text']

In [0]:
# Coloque seu código a partir deste espaço

## Geração do arquivo de submissão

In [0]:
# Lista de Ids para gerar o arquivo final
X_ids = dataset_test[['id']]
X_ids = list(X_ids['id'])

In [0]:
# Gera o CSV no formado de submissão

def generate_csv(id_values, predict_result, filename):
    count = 0
    values = []
    for id_value in id_values:
        values.append((id_value, int(predict_result[count])))
        count += 1

    df = pd.DataFrame(values, columns=['id','class']) 
    df.to_csv(filename + ".csv", sep=',', columns=['id','class'], index=False)

In [0]:
# Gera o csv no formato de submissão do sistema
generate_csv(X_ids, predict_values, "p6_teste")

In [0]:
# Baixa o arquivo do colab

from google.colab import files

files.download("p6_teste.csv")